@import "src/my-theme.scss";

*,
** {
  font-family: sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}
.task-dialog{
  mat-dialog-container{
    //background: #2c2c2c !important;
    overflow: hidden;
  }
  .mat-dialog-content{
    max-height: 90%;
  }

}